{
  "presets": [
    ["env", {
      "targets": {
        "node": "3"
      }
    }],
    "flow"
  ],
  "plugins": [
    "transform-flow-comments",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}